<div class="form-group">
    <div class="modal-header">
        <h4 class="modal-title" id="deleteModalLabel">Confirmation:</h4>
    </div>
    <span class="text-center" style="margin-left:20px"><strong> Fabric successfully saved.</strong></span>

    <div class="modal-footer">
        @Html.ActionLink("Back to List", "FabricList")
    </div>
</div>

